{{ define "main" }} 

<ul class="category-list cats ">

  {{ range .Paginator.Pages }}
  
  <li>
    <div class="card feature-card ">

      <figure class="card-banner img-holder" style="--width: 1602; --height: 903;">
        <img src="{{ .Params.categoryImage}}" width="1602" height="903" loading="lazy"
          alt="" class="img-cover">
      </figure>

      <div class="card-content">

      

        

        <h3 class="headline headline-3">
          <a href="{{ .Permalink}}" class="card-title hover-2">
            {{ .Title }}
          </a>
        </h3>

        <div class="card-wrapper">

          <div class="profile-card">
            <img src="{{ .Params.Image}}" width="48" height="48" loading="lazy" alt="Muyinda Brian"
              class="profile-banner">

            <div>
              <p class="card-title">{{ .Params.author}}</p>

              
            </div>
          </div>

          

        </div>

      </div>

    </div>
   
  </li>
  {{end}} 
  </ul>
  {{ template "_internal/pagination.html" . }}
{{ end }}
