{{ define "main" }} 

<ul class="category-list cats ">

  {{ range .Paginator.Pages }}
  
  <li>
    <div class="card feature-card ">

      

      <div class="card-content">

      

        

        <h3 class="headline headline-3">
          <a href="{{ .Permalink}}" class="card-title hover-2">
            {{ .Title }}
          </a>
        </h3>

        <div class="card-wrapper">

          <div class="profile-card">
           
            <div>
              

              
            </div>
          </div>

          

        </div>

      </div>

    </div>
   
  </li>
  {{end}} {{ template "_internal/pagination.html" . }}
  </ul>
  
{{ end }}
