<footer>
  <div class="container">

    <div class="card footer">

      <div class="section footer-top">

        <div class="footer-brand">

          <a href="#" class="logo">
            <img src="/images/MB LOGO.png" width="119" height="37" loading="lazy" alt="MB Logo">
          </a>

          <p class="footer-text">
            As a versatile full stack developer and designer, I offer a complete end-to-end solution for building websites and apps that stand out from the rest.
          </p>

          <p class="footer-list-title">Address</p>

          <address class="footer-text address">
            Main Street <br>
            Jinja, Uganda. <br>
            <a href="tel: +256751055947"> +256 751 055 947 </a>
          </address>

        </div>

        <div class="footer-list">

          <p class="footer-list-title">Categories</p>

          <ul>

            <li>
              <a href="/categories/general/" class="footer-link hover-2">Web Apps</a>
            </li>

            <li>
              <a href="#" class="footer-link hover-2">Mobile Apps</a>
            </li>

            <li>
              <a href="#" class="footer-link hover-2">Hosting</a>
            </li>

            <li>
              <a href="#" class="footer-link hover-2">SEO</a>
            </li>

            <li>
              <a href="#" class="footer-link hover-2">Travel</a>
            </li>

            <li>
              <a href="#" class="footer-link hover-2">NextJs</a>
            </li>

            <li>
              <a href="#" class="footer-link hover-2">React Native</a>
            </li>

            <li>
              <a href="#" class="footer-link hover-2">React</a>
            </li>

            <li>
              <a href="#" class="footer-link hover-2">Machine Learning</a>
            </li>

            <li>
              <a href="#" class="footer-link hover-2">A.I</a>
            </li>

            <li>
              <a href="#" class="footer-link hover-2">Cyber Security</a>
            </li>

            <li>
              <a href="#" class="footer-link hover-2">Cloud Computing</a>
            </li>

          </ul>

        </div>

        <div class="footer-list">

          <p class="footer-list-title">Send Me A Message</p>
          <form name="contact" method="post" data-netlify="true" id="contactForm">
            <div class="input-wrapper"  >
              <label for="name">Name</label>
              <input type="text" id="name" name="name" class="input-field" required placeholder="Type Your Name">
            </div>
            <div class="input-wrapper" >
              <label for="email">Email</label>
              <input type="email" id="email" name="email" class="input-field"  placeholder="Type your email" required>
            </div>
            <div class="input-wrapper">
              <label for="message">Message</label>
              <textarea id="message" name="message"  placeholder="Your Message"  required class="input-field"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Send Message</button>
          </form>

        </div>

      </div>

      <div class="footer-bottom">

        <p class="copyright">
          &copy; Developed by <a href="https://portfolio.muyindabrian.com" class="copyright-link">Muyinda Brian</a>
        </p>

        <ul class="social-list">

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>

              <span class="span">Twitter</span>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-linkedin"></ion-icon>

              <span class="span">LinkedIn</span>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>

              <span class="span">Instagram</span>
            </a>
          </li>

        </ul>

      </div>

    </div>

  </div>
</footer>