<header class="header" data-header>
  <div class="container">

    <a href="#" class="logo">
      <img src="/images/MB LOGO2.png" width="119" height="37" alt="Muyinda Brian logo">
    </a>

    <nav class="navbar" data-navbar>

      <div class="navbar-top">
        <a href="#" class="logo">
          <img src="/images/MB LOGO2.png" width="119" height="37" alt="Muyinda Brian logo">
        </a>

        <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
          <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
        </button>
      </div>

      <ul class="navbar-list">

        <li>
          <a href="/" class="navbar-link hover-1" data-nav-toggler>Home</a>
        </li>

        <li>
          <a href="/categories" class="navbar-link hover-1" data-nav-toggler>Categories</a>
        </li>

        <li>
          <a href="/services" class="navbar-link hover-1" data-nav-toggler>Services</a>
        </li>

        <li>
          <a href="/about" class="navbar-link hover-1" data-nav-toggler>About</a>
        </li>

        <li>
          <a href="#" class="navbar-link hover-1" data-nav-toggler>Contact</a>
        </li>

      </ul>

    

    </nav>

    <a href="#" class="btn btn-primary">Subscribe</a>

  </div>
  <script src="/app.js"></script>
</header>